@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h1 {
  font-size: 32px;

  @media only screen and (min-width: 768px) {
    font-size: 54px;
  }

}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h6 {
  font-size: 18px;
}

.heart {
  opacity: 0.5;
  position: absolute;
  left: calc(50% + var(--heart-left-offset));
  bottom: -50%;
  color: rgb(244 114 182);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--heart-radius);
  height: var(--heart-radius);
  animation: float-up var(--heart-float-duration) var(--heart-float-delay)
    ease-in infinite;
}

.heart::before {
  position: absolute;
  content: "❤";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(244 114 182);
  font-size: var(--heart-radius);
  animation: var(--heart-sway-type) var(--heart-sway-duration)
    var(--heart-sway-delay) ease-in-out alternate infinite;
}

/* Animation keyframes remain the same */

@keyframes float-up {
  to {
    transform: translateY(-175vh);
  }
}

@keyframes sway-left-to-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes sway-right-to-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
